.page-general{
    background: white;
}

.Select{
    width:20%;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 30%;
}

td > div{
    height: 20px;
    overflow: scroll;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr > td:first-child, tr > th:first-child{
    width: 10%;
 }

 .results-title{
     text-align: center;
     width: 60%;
     margin: 0 auto;
     margin-top: 2rem;
 }

 .section-heading{
     text-align: center;
     font-size: $l-size;
 }

 .fetching-data{
    font-size: 3rem;
 }